name: Rules check

on:
  pull_request:
    paths:
      - '**/*' 

jobs:
  check-newline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check for newline at end of files
        run: python .github/workflows/scripts/newline.py
